[Unit]
Description=RuuviTag measurement collector service
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=90

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/ruuvitag-gollector daemon

[Install]
WantedBy=multi-user.target
