[Unit]
Description=RuuviTag measurement collector service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=90

[Service]
Type=exec
Restart=on-failure
RestartSec=2
ExecStart=/usr/local/bin/ruuvitag-gollector daemon

[Install]
WantedBy=multi-user.target
