name: Unit Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      actions: read
      contents: read

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: '1.25'

    - name: Build
      run: go build -tags postgres,influxdb,aws,gcp,mqtt

    - name: Run Unit Tests
      run: go test -tags postgres,influxdb,aws,gcp,mqtt -v ./...
