name: Unit Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      actions: read
      contents: read

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
      with:
        go-version: '1.26'

    - name: Build
      run: go build -tags postgres,influxdb,aws,gcp,mqtt

    - name: Run Unit Tests
      run: go test -tags postgres,influxdb,aws,gcp,mqtt -v ./...
